* {
	font-family: 'sans-serif';
}

body {
	display: flex;
	justify-content: center;
	align-content: center;	
	width: 100vw;
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
	padding: 25px;
}

.menu {
	box-shadow: 3px 3px 8px 1px #00000061;
	border-radius: 1em;
	padding: 30px;
	height: fit-content;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.item {
	margin-top: 0.5em;
	margin-bottom: 1em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.input-file,.input-number {
	margin-left: 5px;	
}
.input-number {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 5px;
}

.input-file:active {
	text-decoration: none !important;
	outline: none !important;
}

.input-file:focus {
	text-decoration: none !important;
	outline: none !important;
}

table, td{
	border: 1px solid gray !important;
	padding: 10px;
}
.table {
	border-collapse: collapse;
}

.botao {
	border: 1px solid #ab8a8a;
	border-radius: 3px;
	background: linear-gradient(50deg, #ad96de, #f7eb57);
	color: #333333;
	width: 100px;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.botao:hover {
	background-color: black;
	background: linear-gradient(50deg, #f7eb57, #ad96de);
	color: white;
	transition: .2s;
}